<section>
    <form method="post" #addCommentForm="ngForm" (ngSubmit)="onAddComment(addCommentForm)">
            <label for="content" class="text-sm sm:text-base md:text-xl">Write your comment...</label>
            <div class="my-2">
                <textarea name="content" class="edit-comment-textarea border rounded-lg p-2" ngModel></textarea>
            </div>
            <div>
                <button type="submit" class="text-base text-white font-light tracking-wider sm:text-lg md:text-xl py-2 px-4 bg-slate-900 rounded cursor-pointer hover:text-sky-400 transition duration-400">Add Comment</button>
            </div>
    </form>
</section>
