<footer class="p-2">
  <div class="bg-slate-500 px-3 py-5 my-2 rounded-lg text-white flex flex-col items-center sm:flex-row sm:justify-center gap-6">
      <article class="w-11/12 text-center border-b pb-3 pr-0 border-r-0 sm:border-b-0 sm:pb-0 sm:border-r sm:pr-3">
        <h4 class="text-lg md:text-2xl lg:text-3xl mb-3">Contacts</h4>
        <div class="w-11/12">
            <p class="text-base sm:text-sm md:text-base lg:text-lg mb-1">Phone: 0123456789</p>
            <p class="text-base sm:text-sm md:text-base lg:text-lg mb-1">Email: abc&#64;gmail.com</p>
            <p class="text-base sm:text-sm md:text-base lg:text-lg">Address: Lorem 223 Street, Lorem, Lorem</p>
        </div>
    </article>

    <article class="w-11/12 text-center">
        <h4 class="text-lg md:text-2xl lg:text-3xl mb-3">Company Info</h4>
        <div class="w-11/12">
            <p class="text-base sm:text-sm md:text-base lg:text-lg mb-1">Terms Of Service</p>
            <p class="text-base sm:text-sm md:text-base lg:text-lg mb-1">Privacy Policy</p>
            <p class="text-base sm:text-sm md:text-base lg:text-lg">About Us</p>
        </div>
    </article>
  </div>

  <div class="bg-slate-500 text-center text-white rounded-lg p-3">
    <p class="text-base sm:text-sm md:text-base lg:text-lg">CompanyName &#169; 2025</p>
  </div>

</footer>