<section>
    <h2>Create Movie</h2>
    <form method="post" [formGroup]="createMovieForm" (ngSubmit)="onCreateMovie()">
        <div>
            <label for="title">Title:</label>
            <input type="text" name="title" formControlName="title">
        </div>
        <div>
            <label for="fileCollection">add image or images:</label>
            <input accept="image/*" multiple type="file" name="fileCollection" (change)="onSelectedImages($event)">
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea name="description" cols="30" rows="10" formControlName="description"></textarea>
        </div>
        <div formArrayName="genres">
            <button type="button" (click)="addNewGenre()">Add Genre</button>
            <div *ngFor="let genre of genres.controls;let i = index">
                <label for="genre-{{ i }}">Genre {{ i + 1 }}:</label>
                <input type="text" name="genre-{{ i }}" formControlName="{{i}}">
            </div>
        </div>
        <div>
            <button type="submit">Create</button>
        </div>
    </form>
</section>
