<section class="w-8/12 mx-auto flex flex-col bg-slate-300 rounded-lg my-3 p-4 ">
    <h2 class="text-xl sm:text-xl md:text-4xl py-4 px-1 font-bold tracking-wide uppercase text-center">Login Page</h2>
    <form method="post" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" class="w-3/3 sm:w-2/3 mx-auto flex flex-col justify-center items-center gap-4 bg-blue-100 rounded-xl p-4 shadow-2xl">
         <div class="flex flex-col lg:flex-row">
            <label for="email" class="text-lg sm:text-xl md:text-2xl mx-2">Email:</label>
            <input appEmail type="text" name="email" ngModel required #email="ngModel" class="border rounded-lg p-2 text-xs sm:text-base md:text-lg bg-slate-300">
        </div>
        <small *ngIf="email.touched && email.errors?.['required']" class="text-red-800">Email is required</small>
        <small *ngIf="email.touched && email.errors?.['invalidEmail'] && !email.errors?.['required']" class="text-red-800">Invalid Email</small>
         <div class="flex flex-col lg:flex-row">
            <label for="password" class="text-lg sm:text-xl md:text-2xl mx-2">Password:</label>
            <input type="password" name="password" ngModel required #password="ngModel" class="border rounded-lg p-2 text-xs sm:text-base md:text-lg bg-slate-300">
        </div>
        <div>
            <button type="submit" class="text-base text-white font-light tracking-wider sm:text-lg md:text-xl py-2 px-4 bg-slate-900 rounded cursor-pointer hover:text-sky-400 transition duration-400">Login</button>
        </div>
        <app-loading-spinner></app-loading-spinner>
        <ng-container *ngIf="errors().length > 0">
            <div>
                <p *ngFor="let error of errors()">{{ error }}</p>
            </div>
        </ng-container>
    </form>
</section>
