     <article>
     <h4>Title: {{ movie.title }}</h4>
        <div class="img-container">
            <img src="{{ movie.firstImg }}" alt="{{ movie.title }}">
        </div>
        <p>Description: {{ movie.description }}</p>
        <p>Genre: <span *ngFor="let genre of movie.genres">{{ genre.genreName }} </span></p>
        <div>
            <button (click)="goToMovie(movie.id)">Details</button>
        </div>
        <div *ngIf="isAdmin">
            <button (click)="deleteMovie(movie.id)">Delete</button>
            <button (click)="goToEditMovie(movie.id)">Edit</button>
        </div>
    </article>
        
